body
{
	background: #ccf;
	font-family: Verdana;
}
.content
{
	background: #FFF;
}
.share
{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #bab3b2;
}
.share > *
{
	margin: 5px;
}
.link
{
	margin: auto 2em;
}